<!-- PAGE BODDY -->
        <main class="mainContent
                       col-desktop-7
                       col-tablet-8
                       col-mobile-12">

            <section  class="apiRegistration">
                <h1>cadastre aqui as informações da API!</h1>
                <form action="/actualize" method="POST" onsubmit="return validaApi()">

                     <div>
                        <label for="id">Natureza do corpo celeste</label>
                        <input type="text" name="id" value="{{list.id}}" readonly>
                    </div>

                    <div>
                        <label for="starNature">Natureza do corpo celeste</label>
                        <input type="text" id="starNature" name="starNature" value="{{list.natureza}}">
                    </div>

                    <div>
                        <label for="starName">Nome do corpo celeste</label>
                        <input type="text" id="starName" name="starName" value="{{list.nome}}">
                    </div>

                    <div>
                        <label for="starTemperature">Temperatura do corpo celeste</label>
                        <input type="text" id="starTemperature" name="starTemperature" value="{{list.temperatura}}">
                    </div>

                    <div>
                        <label for="starOrbit">Órbita do corpo celeste</label>
                        <input type="text" id="starOrbit" name="starOrbit" value="{{list.orbita}}">
                    </div>

                    <div>
                        <label for="starDistance">Distância do corpo celeste</label>
                        <input type="text" id="starDistance" name="starDistance" value="{{list.distancia}}">
                    </div>       
                   
                    <div>
                        <label for="starAtsmophere">Atsmofera do corpo celeste</label>
                        <input type="text" id="starAtsmophere" name="starAtsmophere" value="{{list.atsmofera}}">
                    </div>

                    <div>
                        <label for="starComposition">Composição do corpo celeste</label>
                        <input type="text" id="starComposition" name="starComposition" value="{{list.compossicao}}">
                    </div>

                    <input type="submit" value="Atualizar">

                    <button id="cancel">
                        <a href="/editAPI">Cancelar</a>
                    </button>

                </form>
            </section>
        </main>
<script src="../js/carousel.js"></script>