<!-- PAGE BODDY -->
        <main class="mainContent
                       col-desktop-7
                       col-tablet-8
                       col-mobile-12">

            <section  class="apiRegistration">
                <h1>cadastre aqui as informações da API!</h1>
                <h4 id="h4"></h4>
                <form action="/actualize" method="POST" onsubmit="return validaApi()">

                     <div>
                        <label for="id">ID do corpo celeste</label>
                        <input type="text" name="id" value="{{list.id}}" readonly>
                    </div>

                    <div>
                        <label for="starNature">Natureza do corpo celeste</label>
                        <input type="text" id="starNature" name="starNature" value="{{list.starNature}}">
                    </div>

                    <div>
                        <label for="starName">Nome do corpo celeste</label>
                        <input type="text" id="starName" name="starName" value="{{list.starName}}">
                    </div>

                    <div>
                        <label for="starTemperature">Temperatura do corpo celeste</label>
                        <input type="text" id="starTemperature" name="starTemperature" value="{{list.starTemperature}}">
                    </div>

                    <div>
                        <label for="starOrbit">Órbita do corpo celeste</label>
                        <input type="text" id="starOrbit" name="starOrbit" value="{{list.starOrbit}}">
                    </div>

                    <div>
                        <label for="starDistance">Distância do corpo celeste</label>
                        <input type="text" id="starDistance" name="starDistance" value="{{list.starDistance}}">
                    </div>       
                   
                    <div>
                        <label for="starAtsmophere">Atsmofera do corpo celeste</label>
                        <input type="text" id="starAtsmophere" name="starAtsmophere" value="{{list.starAtsmophere}}">
                    </div>

                    <div>
                        <label for="starComposition">Composição do corpo celeste</label>
                        <input type="text" id="starComposition" name="starComposition" value="{{list.starComposition}}">
                    </div>

                    <div>
                        <label for="starComposition">ID de usuário</label>
                        <input type="password" id="password" name="password" placeholder="ID de usuário">
                    </div>

                    <input type="submit" value="Atualizar">

                    <button id="cancel">
                        <a href="/editAPI">Cancelar</a>
                    </button>

                </form>
            </section>
        </main>