<!-- MENU TO EDIT THE API -->
        <aside id="menuApi">
            <nav class="navApi">
                <li> <a href="/listAPI">listar</a> </li>
                <li> <a href="/registerAPI">cadastrar</a> </li>
                <li> <a href="/editAPI">editar</a> </li>
                <li> <a href="/removeAPI">remover</a> </li>
            </nav>
        </aside>

<!-- PAGE BODDY -->
        <main class="mainContent
                       col-desktop-7
                       col-tablet-8
                       col-mobile-12
                       mainPadingJson">

            <section  class="apiRegistration">
                <h1>exibir informações da API!</h1>

                <!-- TEBELA -->
                <div class="api">

                    <ul>
                    {{#each list}}
                        <h2>{{starName}}</h2>
                        
                        <li><b>NATUREZA:</b> <i>{{starNature}}</i></li>
                        <li><b>TEMPERATURA:</b> <i>{{starTemperature}}</i></li>
                        <li><b>ÓRBITA:</b> <i>{{starOrbit}}</i></li>
                        <li><b>DISTÂNCIA:</b> <i>{{starDistance}}</i></li>
                        <li><b>ATSMOFERA:</b> <i>{{starAtsmophere}}</i></li>
                        <li><b>COMPOSIÇÃO:</b> <i>{{starComposition}}</i></li>

                    {{/each}}
                    </ul>

                </div>

            </section>
        </main>