<!--  PAGE BODY -->
        <main class="mainContent
                    col-desktop-7
                    col-tablet-8
                    col-mobile-12">

            <section class="json">
                <h1>gostaria de saber um pouco mais sobre STAR WARS?</h1>

                <!-- API STAR WARS -->
                <div class="buttonsApi">

                    <button><a href="/swPeople">pessoas</a></button>
                    <button><a href="/swPlanets">planetas</a></button>
                    <button><a href="/swStarships">naves</a></button>
                    <button><a href="/swFilms">filmes</a></button>
                    <button><a href="/swSpecies">espécies</a></button>
                    <button><a href="/swVehicles">veículos</a></button>

                </div>

                <!-- CARD STAR WARS -->
                <div class="api">
                    <figure>
                        <img src="../img/sistemaSolar/starWars.jpg" id="img">

                        <ul>
                        {{#each list}}
                            <h2>{{title}}</h2>

                                <li><b>ID DO EPISÓDIO:</b> <i>{{episode_id}}</i></li>
                                <li><b>RASTEMENTO DE ABERTURA:</b> <i>{{opening_crawl}}</i></li>
                                <li><b>DIRETOR:</b> <i>{{director}}</i></li>
                                <li><b>PRODUÇÃO:</b> <i>{{producer}}</i></li>
                                <li><b>DATA DE LANÇAMENTO:</b> <i>{{release_date}}</i></li>
                         
                        {{/each}}
                        <ul>

                    </figure>
                </div>

                <!-- ADMIN SECTION -->
                <div id="link">
                    <a href="/login">área admin</a>
                </div>
            </section>
        </main>