<!--  PAGE BODY -->
        <main class="mainContent
                    col-desktop-7
                    col-tablet-8
                    col-mobile-12">

            <section class="json">
                <h1>gostaria de saber um pouco mais sobre STAR WARS?</h1>

                <!-- API STAR WARS -->
                <div class="buttonsApi">

                    <button><a href="/swPeople">pessoas</a></button>
                    <button><a href="/swPlanets">planetas</a></button>
                    <button><a href="/swStarships">naves</a></button>
                    <button><a href="/swFilms">filmes</a></button>
                    <button><a href="/swSpecies">espécies</a></button>
                    <button><a href="/swVehicles">veículos</a></button>

                </div>

                <!-- CARD STAR WARS -->
                <div class="api">
                    <figure>
                        <img src="../img/sistemaSolar/starWars.jpg" id="img">

                        <ul>
                        {{#each list}}
                            <h2>{{name}}</h2>

                                <li><b>ALTURA:</b> <i>{{height}}</i></li>
                                <li><b>PESO:</b> <i>{{mass}}</i></li>
                                <li><b>COR DO CABELO:</b> <i>{{hair_color}}</i></li>
                                <li><b>COR DA PELE:</b> <i>{{skin_color}}</i></li>
                                <li><b>COR DOS OLHOS:</b> <i>{{eye_color}}</i></li>
                                <li><b>ANO DE NASCIMENTO:</b> <i>{{birth_year}}</i></li>
                                <li><b>GÊNERO:</b> <i>{{gender}}</i></li>

                        {{/each}}
                        <ul>

                    </figure>
                </div>

                <!-- ADMIN SECTION -->
                <div id="link">
                    <a href="/login">área admin</a>
                </div>
            </section>
        </main>
<script src="../js/carousel.js"></script>