<!--  PAGE BODY -->
        <main class="mainContent
                    col-desktop-7
                    col-tablet-8
                    col-mobile-12">

            <section class="json">
                <h1>gostaria de saber um pouco mais sobre STAR WARS?</h1>

                <!-- API STAR WARS -->
                <div class="buttonsApi">

                    <button><a href="/swPeople">pessoas</a></button>
                    <button><a href="/swPlanets">planetas</a></button>
                    <button><a href="/swStarships">naves</a></button>
                    <button><a href="/swFilms">filmes</a></button>
                    <button><a href="/swSpecies">espécies</a></button>
                    <button><a href="/swVehicles">veículos</a></button>

                </div>

                <!-- CARD STAR WARS -->
                <div class="api">
                    <figure>
                        <img src="../img/sistemaSolar/starWars.jpg" id="img">

                        <ul>
                        {{#each list}}
                            <h2>{{name}}</h2>

                                <li><b>MODELO:</b> <i>{{model}}</i></li>
                                <li><b>FABRICANTE:</b> <i>{{manufacturer}}</i></li>
                                <li><b>VALOR:</b> <i>{{cost_in_credits}}</i></li>
                                <li><b>COMPRIMENTO:</b> <i>{{length}}</i></li>
                                <li><b>VELOCIDADE MÁXIMA:</b> <i>{{max_atmosphering_speed}}</i></li>
                                <li><b>EQUIPE TÉCNICA:</b> <i>{{crew}}</i></li>
                                <li><b>PASSAGEIROS:</b> <i>{{passengers}}</i></li>
                                <li><b>CAPACIDADE:</b> <i>{{cargo_capacity}}</i></li>
                                <li><b>CONSUMIVEIS:</b> <i>{{consumables}}</i></li>
                                <li><b>AVALIAÇÃO HIPERDRIVE:</b> <i>{{hyperdrive_rating}}</i></li>
                                <li><b>MGLT:</b> <i>{{MGLT}}</i></li>
                                <li><b>AULA DE NAVE:</b> <i>{{starship_class}}</i></li>
                         
                        {{/each}}
                        <ul>

                    </figure>
                </div>

                <!-- ADMIN SECTION -->
                <div id="link">
                    <a href="/login">área admin</a>
                </div>
            </section>
        </main>